<div class="box is-2 has-background-light">
  <article class="media">
    <div class="media-content">
      <figure class="image container is-64x64 is-centered">
        <img [src]="ImgUrl" [alt]="name">
      </figure>
    </div>
    </article>
    <div class="media-content">
      <div class="content">
        <p class="has-text-centered is-size-5">{{ name | titlecase}}</p>
        <p class="is-size-7">Location: {{location | titlecase }}</p>
        <p class="is-size-7">Price: {{price}} bells</p>
        <p class="is-size-7">Time: {{time | uppercase}}</p>
        <p class="is-size-7">Shadow size: {{shadow | titlecase}}</p>
        <p class="is-size-5 has-text-centered">{{rarity | titlecase}}</p>

      </div>
    </div>
</div>
